main.tabela h3{
    display: flex;
    justify-content: center;
}

main.tabela table, tr, td{
    border: 2px solid black;
    border-collapse: collapse;
    margin: 2rem;
    padding: 8px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}